.font-16 {
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  display: flex;
}

header span {
  margin: 6px;
}

header span.material-icons {
  font-size: 26px;
}

header span.title {
  flex: 1;
  font-size: 24px;
}

nav.month {
  display: flex;
  align-items: center;
}

nav.month span.month {
  font-size: 24px;
}

nav.month span.material-icons {
  margin: 4px;
}

section.current {
  display: flex;
  align-items: center;
  border-bottom: 12px solid #f9f9f9;
  padding: 16px;
}

section.current div.amount {
  flex: 1;
}

section.current div.amount ul {
  list-style: none;
  padding-left: 0;
}

section.current div.amount ul li {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

section.current div.amount span.label {
  font-size: 14px;
  color: #5a5b67;
  margin-right: 10px;
}

section.current div.amount span.amount {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2px;
}

section.current div.amount span.amount.income {
  color: rgb(72, 198, 108);
}

section.current div button.analysis {
  border: none;
  padding: 16px;
  border-radius: 6px;
  color: #222222;
}

section.current div.amount span.amount {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2px;
}

section.payments {
  padding: 16px;
}

section.payments div.filter {
  display: flex;
}

section.payments span.full-details {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 11px;
}

section.payments span.add {
  display: flex;
  align-items: center;
  font-size: 11px;
}

section.payments span.material-icons.font-16 {
  margin: 0 4px;
}

section.payments .daily {
  margin: 25px 0;
}

section.payments div.daily-title {
  display: flex;
  border-bottom: #f9f9f9 1px solid;
  padding-bottom: 10px;
}

section.payments .day {
  flex: 1;
  display: flex;
  font-size: 12px;
  color: #adb3c4;
}

section.payments .payment {
  display: flex;
  font-size: 13px;
}

section.payments .daily-detail {
  display: flex;
  margin: 18px 0;
}

section.payments .daily-detail-goods {
  flex: 1;
  margin: 0 8px;
}

section.payments .place {
  font-size: 13px;
  margin-bottom: 4px;
}

section.payments .note {
  font-size: 10.5px;
  color: #adb3c4;
}

section.payments .daily-payment {
  font-size: 14.5px;
}

footer ul {
  display: flex;
  list-style: none;
  position: fixed;
  padding-left: 0;
  border-top: #f9f9f9 1px solid ;
  padding: 10px 0 20px;
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  margin: 0;
}

footer li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  -webkit-transform: scale(0.8);
}

footer li .icon-title {
  color: #adb3c4;
  margin-top: 5px;
}

footer li .active {
  color: #000000;
}